{% extends 'house_hunting_app/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block links %}
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Category </a></li>


{% endblock%}

{% block logins %}
<li>
    {% if user.is_authenticated %}
      {% if user.name  %}
      <a><i class="fa fa-user-o" aria-hidden="true"></i>{{user.name}} </a>
          
          {% else %}
          <a><i class="fa fa-user-o" aria-hidden="true"></i>{{user.email}} </a>
          {% endif %}
          
    {% else %}

          
    {% endif %}             
  </li>
<li class="dropdown show">
  <a class="dropdown-toggle text-light"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </a>
  <div class="dropdown-menu  col-md-10" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item p-3 row" href="#">Account Settings</a>
    <a class="dropdown-item p-3 row " href="{% url 'logout' %}">Log Out</a>
    <a class="dropdown-item p-3 row " href="#">Update Your info</a>
    <a class="dropdown-item p-3 row " href="#">Delete Account</a>
    <a class="dropdown-item p-3 row " href="#">Change Password</a>
    <a class="dropdown-item p-3 row " href="#">Booked Houses</a>
  </div>
</li>





          
{% endblock %}


{% block content %}
<h1 class="text-center">Update Your Profile</h1>
<form method="post" >
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="text" class="form-control" name='fname'  placeholder="first Name" value="{{user.first_name}}">  
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" class="form-control" name='lname'  placeholder="last Name" value="{{user.last_name}}">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="text" class="form-control" name='name'  placeholder="User Name" value="{{user.name}}">  
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Phone Number</label>
        <input type="text" class="form-control" name='phone'  placeholder="phone" value="{{user.phone_no}}">  
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name = "email"id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value={{user.email}}>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
          
    <button type="submit" name="update" class="btn btn-primary">Submit</button>
      
    <button type="submit" name = "delete" class="btn btn-danger">Delete Account</button>
    
    </div>
  
  </form>

{% endblock %}